:root, .light {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --scrollbar-thumb: oklch(0 0 0 / 10%);
  --scrollbar-width: 6px;
  --app-tabs: oklch(0.97 0 0);
  --app-tabs-foreground: oklch(0.4979 0.0094 253.91);
  --app-tabs-primary: oklch(1 0 0);
  --app-tabs-primary-foreground: oklch(0.3971 0.0057 258.35);
  --app-tabs-border: oklch(0.89 0 0);
  --app-tabs-accent: oklch(0.92 0.0017 247.84);
  --app-tabs-close-accent: oklch(0.9364 0.0046 258.33);
  --app-breadcrumb: oklch(0.97 0 0);
  --app-breadcrumb-accent: oklch(0.92 0.0017 247.84);
  --app-breadcrumb-border: oklch(0.89 0 0);
  --app-content: oklch(1 0 0);
  --app-header: oklch(1 0 0);
  --anchor-border: oklch(0.8 0 0);
  --anchor-foreground: oklch(0.556 0 0);
  --anchor-foreground-hover: oklch(0.145 0 0);
  --table-filter-active: #1890ff;
}
