@theme {
  --animate-rotate: rotate 2s linear infinite;
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

}
@theme {
  --animate-pulse: pulse 2s infinite;
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }
}
@theme {
  --dots-loader-size: calc(var(--spacing) * 1.5);
  --dots-shadow-size-1: calc(var(--dots-loader-size) * 2 - 2px);
  --dots-shadow-size-2: calc((var(--dots-loader-size) * 2 - 2px) * -1);
  --dots-shadow-size-3: calc(var(--dots-loader-size) - 1px);
  /* --dots-loader-color-1: #f86;
  --dots-loader-color-2: #fc6;
  --dots-loader-color-3: #6d7;
  --dots-loader-color-4: #4ae; */
  --dots-loader-color-1: var(--color-primary);
  --dots-loader-color-2: var(--color-primary);
  --dots-loader-color-3: var(--color-primary);
  --dots-loader-color-4: var(--color-primary);
  --shadow-dots-loader: var(--dots-loader-color-1) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3);
  --animate-dots-loader: dots-loader 5s ease-in-out infinite;
  @keyframes dots-loader {
    0% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3);
    }
    8.33% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3);
    }
    16.67% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3);
    }
    25% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3);
    }
    33.33% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3);
    }
    41.67% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3);
    }
    50% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3);
    }
    58.33% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3);
    }
    66.67% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3);
    }
    75% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3);
    }
    83.33% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3);
    }
    91.67% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3);
    }
    100% {
      box-shadow: var(--dots-loader-color-1) var(--dots-shadow-size-2) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-2) var(--dots-shadow-size-1) var(--dots-shadow-size-2) 0 var(--dots-shadow-size-3), var(--dots-loader-color-3) var(--dots-shadow-size-1) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3), var(--dots-loader-color-4) var(--dots-shadow-size-2) var(--dots-shadow-size-1) 0 var(--dots-shadow-size-3);
    }
  }
}


@theme {
  --animate-arrow-left: arrow-left 1s ease-in-out infinite;
  @keyframes arrow-left {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-2px);
    }
  }
}
@theme {
  --animate-arrow-right: arrow-right 1s ease-in-out infinite;
  @keyframes arrow-right {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(2px);
    }
  }
}

@theme {
  --animate-ping: ping 1s linear infinite;
  @keyframes ping {
    75%, 100% {
      opacity: 0;
      transform: scale(2);
    }
  }
}