/** biome-ignore-all lint:correctness/noInvalidPositionAtImportRule:*/

@import "tailwindcss";

@utility flex-center {
  @apply flex justify-center items-center;
}
@utility flex-items-center {
  @apply flex items-center;
}
@utility flex-justify-center {
  @apply flex justify-center;
}
@utility flex-col-center {
  @apply flex flex-col justify-center items-center;
}
@utility flex-col-items-center {
  @apply flex flex-col items-center;
}
@utility flex-col-justify-center {
  @apply flex flex-col justify-center;
}
@utility flex-between {
  @apply flex justify-between;
}
@utility no-scrollbar {
  @apply [-ms-overflow-style:none] [scrollbar-width:none];

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

@utility inline-flex-center {
  @apply inline-flex items-center justify-center;
}

@utility ribbon-breadcrumb {
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 50%,
    calc(100% - 10px) 100%,
    0 100%,
    10px 50%
  );
}
@utility ribbon-breadcrumb-first {
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 50%,
    calc(100% - 10px) 100%,
    0 100%
  );
}
@utility ribbon-breadcrumb-last {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10px 50%);
}

@utility parallelogram-breadcrumb {
  clip-path: polygon(8px 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}
@utility capsule-breadcrumb {
  mask: radial-gradient(
      circle 0.5lh at 0 50%,
      #0000 calc(0.5lh + 0.11em),
      #000 0
    )
    0 0;
}

